html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background: #f9f9f9;
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
  }
}
label {
  display: block;
  background: white;
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
}
input[type="radio"]:checked + label {
  background: #43A047;
  color: hsla(215, 0%, 100%, 1);
}

input[type="radio"]:checked + label::after {
    color: #F9A825;
    font-family: icomoon;
    border: 2px solid #43A047;
    content: "\e99e";
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: -5px;
    transform: translateX(50%);
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

.mastersImage{
  width: 180px;
  text-align: right;
}

.Collapsible{
  color: #135d2b;
  display: block;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 1em;
  padding: 0.5em;

  border-radius: 3px;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: all 0.25s linear;

}

.Collapsible__trigger {
  cursor: pointer;
  display: block;
  width: 100%;
}

.Collapsible__contentInner {
  padding-left: 1em;
  font-size: 14px;
  color: #888;
}

@media (max-width: 500px) {
  .mastersImage{
    width: 120px;
  }

}
